<% @items.each do |item| %></br>
	<p>Name:<%=item.name%></p>
	<p>Category:<%=item.category%></p>
	<p>Price: $<%=item.price%>0</p></br>
<% end %>

<%= link_to "Create a New Item", new_item_path, method: "get"%>