<center><h1><%= @list.name.upcase %></h1></center>

<center><select name="list[items]">
    <% Item.all.each do |item| %>
        <option value="<%= item.id %>"><%= item.name%></option>
    <% end %>
</select></center>
<center><input class="SubmitButton" type="submit" name="SUBMITBUTTON"              value="Add Item"/></center>
<!-- 
1. print out all the items on the item_list that is associated with this list *using collection select*

2. link to each respective item, giving the user an option to delete from their item_list

3. allow the user to edit the quantity of the items in their list


 -->

<center><%= link_to "Return to Lists", user_lists_path, method: "get"%></center>